<html>
  <head>
<script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/9381732.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
<!-- Start of HubSpot Embed Code -->
<!-- <script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/9381732.js"></script> -->
<!-- End of HubSpot Embed Code -->
  </head>
<!-- <body>
  <div>
    My form:
    <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/embed/v2.js"></script>
    <script>
      hbspt.forms.create({
        region: "na1",
        portalId: "9381732",
        formId: "21cf36dc-c665-4656-912c-8a338a09253b"
      });
    </script>
    Customer's form:
   <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/embed/v2.js"></script><script>
    hbspt.forms.create({
        region: "na1",
        portalId: "8267382",
        formId: "baf303d9-1c90-42d7-9309-5b06584776da"
      });
    </script> 
    Customer's form:
    <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/embed/v2.js"></script>
<script>
  hbspt.forms.create({
    region: "na1",
    portalId: "19679188",
    formId: "24f37799-0548-4606-ad02-990a55dfb667"
  });
</script>
    </div>
</body> -->
<body>
  <header>
    <div><a href="/admin">Admin page</a></div>
    <div><a href="/imports">Get Imports</a></div>
    <div></div>
  </header>
  <form action="/" method="post">
    <div class="field">
        <div class="label">
            <label for="name">Name</label>
        </div>
        <input id="name" name="firstname" type="text" value="" placeholder="Name">
    </div>
    <div class="field">
        <div class="label">
            <label for="email">Email</label>
        </div>
        <input id="email" name="email" type="text" value="" placeholder="Email">
    </div>
    <div class="field">
        <div class="label">
            <label for="text">Message</label>
        </div>
        <input id="message" name="message" type="text" value="" placeholder="Ask me anything!">
    </div>
    <div class="button">    
        <input type="submit" value="Submit" id="submit"></div>
</form>
</body>

</html>