<html>
	<header>
		<div><a href="/">Home page</a></div>
	</header>
    <body>
    <h1>Change name of list in HubSpot</h1>
    <div class="listchange">
       <form action="/list-change" method="post">
			<input type="text" name="list_name">
        	<input type="submit" name="list_change" value="Change list name">
       </form>
    </div>
</body>
</html>